USE [master]
GO
/****** Object:  Database [studentDB]    Script Date: 6/1/2023 7:18:32 PM ******/
CREATE DATABASE [studentDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'studentDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\studentDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'studentDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\studentDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [studentDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [studentDB]
GO
/****** Object:  Table [dbo].[tbl_attendence]    Script Date: 6/1/2023 7:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_attendence](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegistrationNumber] [varchar](50) NULL,
	[Status] [varchar](50) NULL,
	[Date] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_student]    Script Date: 6/1/2023 7:18:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_student](
	[RegistrationID] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
	[FatherName] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[RNo] [int] NULL,
	[Email] [varchar](50) NULL,
	[Address] [text] NULL,
 CONSTRAINT [PK_tbl_student] PRIMARY KEY CLUSTERED 
(
	[RegistrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_attendence]  WITH CHECK ADD  CONSTRAINT [FK_tbl_attendence_tbl_student] FOREIGN KEY([RegistrationNumber])
REFERENCES [dbo].[tbl_student] ([RegistrationID])
GO
ALTER TABLE [dbo].[tbl_attendence] CHECK CONSTRAINT [FK_tbl_attendence_tbl_student]
GO
USE [master]
GO
