<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="myConString" connectionString="Server=.\SQLEXPRESS; Database=GBSORegistration; Trusted_Connection=True;" />
  <add name="GBSO_Form.Properties.Settings.GBSORegistrationConnectionString"
   connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=GBSORegistration;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>